@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
.home{
    background-image: url("https://previews.123rf.com/images/evgeniyam/evgeniyam1711/evgeniyam171100103/90013703-patr%C3%B3n-sin-fisuras-con-perros-de-dibujos-animados-sobre-fondo-blanco-ilustraci%C3%B3n-vectorial.jpg");
    width: 100vw;
    height: 100%;
    background-repeat: repeat;
    background-size: 300px 300px;
}
.header{
    background-color:rgba(137, 134, 134, 0.804) ;
    height: 27vh;
    display: flex;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 2px 2px rgba(9, 2, 37, 0.952);
    color: black;
    align-items: center;
}
.logo{
    width: 90px;
    height: 80px;
    background-color:rgb(9, 2, 37);
    border-radius: 50%;
    margin-left: 2rem;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black, 0px 0px 10px black;
}
.createDog{
    position: fixed;
    bottom: 0px;
    right: 0.5rem;
    width: 110px;
    height: 160px;
}
.createDog:hover{
    box-shadow: 0px 0px 10px rgb(226, 207, 172), 0px 0px 10px rgb(226, 207, 172),0px 0px 10px rgb(226, 207, 172);
    text-shadow: 0px 0px 10px black;
    border: 3px solid black;
}
