.container{
    width: 90vw;
    min-height: 34vh;
    border: 5px solid black;
    color: white;
    margin-left: 4%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(226, 207, 172);
}
.anyDog{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.anyDog:hover{
    color: antiquewhite;
}