.container{
    width: 90vw;
    min-height: 50vh;
    color: white;
    margin-left: 4%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.anyDog{
    height: 5rem;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    background-color: rgba(201, 218, 215, 0.826);
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.anyDog:hover{
    color: antiquewhite;
}