.containerPagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: none;
    height: 30px;
    width: 70%;
    align-items: center;
}

.paginationButton{
    background-color: rgb(201, 218, 215);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-weight: bold;
}

.paginationButton:hover{
    border: 2px solid black;
    background-color: rgb(241, 245, 244);
}

.paginationNumberButtons{
    background-color: rgb(201, 218, 215);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    margin: 2px;
}

.paginationNumberButtons:hover{
    background-color: rgb(241, 245, 244);
}